{% extends 'base.html.twig' %}

{% block body %}
    <h1>Testounet</h1>

    <div>{{ mySerie.title |raw}} {{ autreVar }}</div>


    <div>

        <div>{{ "+1 year"|date('Y') }}</div>

        {# commentaire ! #}
        {% set name = "Guillaume" %}
        <h2>{{ name|length }}</h2>

        {# crée un tableau #}
        {% set colors = ["orange", "brown", "turquoise", "blue"] %}

        <div>nombre de couleurs : {{ colors|length }}</div>
        <div>{{ colors|join(' / ') }}</div>

        {% for color in colors %}
            <div>{{ loop.last }}</div>
            <div style="background-color: {{ color }}">{{ color }}</div>
        {% endfor %}

        {% set book = {
            title: 'Pifpaf',
            year: 2000,
            author: "John Doe"}
        %}
        <h3>{{ book.author }}</h3>
        {% for key, val in book %}
            <div>{{ key }} : {{ val }}</div>
        {% endfor %}


    </div>
{% endblock %}

{% block title %}
    {{parent() }}|Testounet
{% endblock %}

