<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_test') }} " title="Test">Test</a></li>
        <li><a href="{{ path('serie_list') }}" title="All series">Series</a></li>

        {% if app.user %}

            <li><a href="{{ path('serie_create') }}" title="Add a new serie">Create</a></li>
            <li><a href="{{ path('season_create') }}" title="Add a new season">Create season</a></li>
            <li><a href="{{ path('app_logout') }}" title="Logout">Logout ({{ app.user.firstname }})</a></li>

            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('admin_dashboard') }}" title="admin dashboard">admin</a></li>
            {% endif %}

        {% else %}

            <li><a href="{{ path('app_login') }}" title="Login">Login</a></li>
            <li><a href="{{ path('app_register') }}" title="Create account">Register</a></li>

        {% endif %}

    </ul>
</nav>